#title {
  display:inline;
  font-family:helvetica;
  font-size:72px;
  margin-left: 50px;
}

.gallery {
  height:250px;
  width:200px;
  border-style:none;
}

.gallery:hover {
  opacity:0.4;
}



hr {
  height:3px;
  background-color:gray;
  border-style:none;

}

.guide {
display:inline;
float:right;
margin-top:70px;
font-family:helvetica;
color:black;
}

.guide:hover{
  opacity:0.4;
}

a {
  text-decoration:none;
}

#birthdays {
  display:inline-block;
  float:left;
  z-index:10;
  position:relative;
  left:300px;
  top:100px;
  font-family:helvetica;
}

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
  background: orange;
  height: 3500px;
}

.anim {
  font-family: 'Varela Round', Helvetica, sans-serif;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  transition: all .4s ease;
  z-index: 1;
}

.anim:after {
  content: '';
  display: block;
  background: #fff;
  width: 100%;
  height: 5px;
  margin: 0 auto;
  transition: all .4s ease;
}

.anim:hover:after {
  transform: translate(0, -82px);
  width: 100%;
  height: 80px;
  opacity: .0;
}

.anim:hover {
  color: #000;
}